DATABRICKS_HOST=your-host # your server hostname from SQL Endpoint Connection Details tab
DATABRICKS_TOKEN=your-token # your token (if you don't have one, click "Create a personal access token" on the SQL Endpoint Connection Details tab )
DATABRICKS_HTTP_PATH=copy-this-path-from-SQL-endpoint # your HTTP Path from SQL Endpoint Connection Details tab
DATABRICKS_CATALOG=some_catalog # Optional, default: hive_metastore
DATABRICKS_DATABASE=some_db # Optional, default: default